@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}
li, a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
}

/* GRID SYSTEM */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto 100px;
}
header {
    background-color: lightblue;
    grid-column: span 3;
}
main {
    background-color: lightcoral;
    grid-column: span 3;
}
footer {
    background-color: lightcyan;
    grid-column: span 3;
}